<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
      
      
      <div class="container my-5">
          <div class="row">
           <h3>Welcome {{request.user}}</h3>
           <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
             <li class="d-grid"><a href="" class="btn btn-warning">Profile</a></li>
             <li class="d-grid"><a href="" class="btn">Address</a></li>
            </ul>
           </div>
           <div class="col-sm-8 offset-sm-1">
            <form action="" method="post">
             {% csrf_token %}
             <div class="col-12">
               <label for="inputName" class="form-label">Name</label>
               <input type="text" class="form-control" id="inputEmail">
             </div>
             <div class="col-12">
               <label for="inputAddress" class="form-label">Address</label>
               <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
             </div>
             <div class="col-12">
               <label for="inputAddress2" class="form-label">Address 2</label>
               <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
             </div>
             <div class="col-12">
               <label for="inputCity" class="form-label">City</label>
               <input type="text" class="form-control" id="inputCity">
             </div>
             <div class="col-md-4">
               <label for="inputState" class="form-label">State</label>
               <select id="inputState" class="form-select">
                 <option selected>Choose...</option>
                 <option>...</option>
               </select>
             </div>
             <div class="col-md-2">
               <label for="inputZip" class="form-label">Zip</label>
               <input type="text" class="form-control" id="inputZip">
             </div>
             <div class="col-12 mt-3">
               <button type="submit" class="btn btn-primary">Submit</button>
             </div>
            </form>
           </div>
          </div>
         </div>




         <div class="container my-5">
          <div class="row">
          <h3>Welcome Sonam</h3>
           <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
             <li class="d-grid"><a href="" class="btn btn-primary">Profile</a></li>
             <li class="d-grid"><a href="" class="btn">Address</a></li>
            </ul>
           </div>
           <div class="col-sm-9 offset-sm-1">
            <div class="row">
             <div class="col-sm-6">
              <div class="card">
               <div class="card-body">
                <h3>Address 1</h3>
                <p>Name: Rahul Kumar</p>
                <p>Address 1: Lalpur</p>
                <p>Address 2: Ranchi</p>
                <p>State: Jharkhand</p>
               </div>
              </div>
             </div>
             <div class="col-sm-6">
              <div class="card">
               <div class="card-body">
                <h3>Address 2</h3>
                <p>Name: Rohit Kumar</p>
                <p>Address 1: Lalpur</p>
                <p>Address 2: Ranchi</p>
                <p>State: Jharkhand</p>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>


         <div class="container my-5">
          <div class="row">
          <h3>Welcome Sonam</h3>
           <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
             <li class="d-grid"><a href="" class="btn btn-primary">Orders</a></li>
            </ul>
           </div>
           <div class="col-sm-9 offset-sm-1">
            <div class="row">
             <div class="col-sm-6">Order 1</div>
             <div class="col-sm-6">Order 2</div>
            </div>
           </div>
          </div>
         </div>



         <div class="container">
          <div class="row mt-5">
           <div class="col-sm-6">
             <h4>Order Summary</h4>
             <hr>
               <div class="card mb-2">
                 <div class="card-body">
                   <h5>Product: Product 1</h5>
                   <p>Quantity: 2</p>
                   <p class="fw-bold">Price: 100.00</p>
                 </div>
               </div>
             <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
           </div>
           <div class="col-sm-4 offset-sm-1">
             <h4>Select Shipping Address</h4>
             <hr>
             <form action="">
               <div class="card">
                 <div class="card-body">
                 <h5>Sonam Kumari</h5>
                 <p>Hirapur Dhanbad Jharkahnd</p>
                 </div>
               </div>
                 <div class="form-check mt-2 mb-5">
                   <input class="form-check-input" type="radio" value="">
                   <label class="form-check-label fw-bold" for="">
                     Address: 1 </label>
                 </div>
                 <div class="text-end">
                   <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
                 </div>
               </form>
             </div>
           </div>
         </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>

