{% extends 'mainapp/base.html' %}
{% block body %}
      
<div id="carouselExampleInterval" class="carousel slide mb-2" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <img src="https://img.freepik.com/free-psd/fashion-store-banner-template_23-2148675200.jpg?w=1480" class="d-block w-100"  height="800px" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://img.freepik.com/premium-psd/banner-template-online-fashion-sale_23-2148585403.jpg?w=1380"  height="800px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-psd/fashion-sale-banner-template_23-2148935598.jpg?w=1480&t=st=1670226282~exp=1670226882~hmac=5edd540cffd0d1b67f3ec2260a8efc9e91a5888a3b4533e3977598ec0d4270f3" height="800px" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock body %}




  {% comment %} https://img.freepik.com/free-psd/fashion-store-banner-template_23-2148675200.jpg?w=1480&t=st=1670226169~exp=1670226769~hmac=92a903a1fff35fa130147c5fb99a4c1db9ce08f0558ffc5f50175c66681194ea {% endcomment %}



  {% comment %} https://img.freepik.com/premium-psd/banner-template-online-fashion-sale_23-2148585403.jpg?w=1380 {% endcomment %}