{% extends 'productapp/headerandfooter.html' %}
{% block login %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <style>
        .order-item {
          height: 300px;
          width: 60%;
          border: 2px solid rgb(240,240,240);
          margin-left: 300px;
          display: flex;
          margin-bottom: 15px;
          padding: 10px;
        }
        
        .order-item img {
          height: 250px;
          width: 200px;
        }
        
        .details {
          margin-left: 30px;
        }
      </style>
    </head>
    <body>
      <div class="order-container">
        {% for i in order_data %}
          <div class="order-item">
            <img src="/media/{{i.product.images}}" alt="" />
            <div class="details">
              <h3>{{i.product.title}}</h3><p>{{request.user}}</p>
              <h4>Rs. {{i.product.price}}</h4>
              {% comment %} <p>{{i.product.desc}}</p> {% endcomment %}
              <p>Address : {{i.customer.address}} {{i.customer.City}} {{i.customer.State}} {{i.customer.pin_code}}</p>
              <p>Status : Successfully  Ordered</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </body>
  </html>
{% endblock %}
